<div id="<%= dom_id ingredient %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ingredient.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Quantity:</strong>
    <%= ingredient.quantity %>
  </p>

  <% if ingredient.photo.attached? %>
    <div class="my-5">
      <%= image_tag ingredient.photo, class: "rounded-lg max-w-xs" %>
    </div>
  <% end %>

  <% if user_signed_in? && current_user == ingredient.recipe.creator %>
    <div class="my-3">
      <%= link_to "Edit", edit_ingredient_path(ingredient), class: "rounded-lg py-2 px-4 bg-gray-100 inline-block font-medium" %>
      <%= button_to "Delete", ingredient_path(ingredient), method: :delete, class: "rounded-lg py-2 px-4 bg-gray-100 font-medium ml-2", data: { turbo_confirm: "Are you sure?" } %>
    </div>
  <% end %>

  <hr class="mt-6">
</div>
